<section id="awards" class="centered">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <p class="section-title">Awards</p>
        <br>
      </div>
      <div class="clearfix"></div>
      <div class="client-logo">
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'awwwards.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'css-design-awards.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'css-winner.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'cssdsgn.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'french.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'fwa.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
      </div>
    </div>
  </div>
</section>
