<section id="top-client" class="centered">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <p class="section-title">Clients</p>
      </div>
      <div class="clearfix"></div>
      <div class="client-logo">
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'makeawish.png', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'prime.png', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'bank-of-america.png', class: 'img-responsive', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'conor.png', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'waa.png', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
        <div class="the-logo col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <a href="#0"><%= image_tag 'swimshow.png', :data => {sr: 'scale up 30% wait .2s'} %></a>
        </div>
      </div>
    </div>
  </div>
</section>
